@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Workbench&display=swap');

::-webkit-scrollbar {
    display: none;
}

:root {
    --primary-color: #5b6cd8;
    --primary-color-active: #758ded;
}

* {
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fcfcfc;
    height: 98%;
    margin: 0;
}

html {
    height: 100%;
}

h2,
h3 {
    color: var(--primary-color);
    margin: 10px;
}

p,
a,
label {
    color: #2c3e50;
    /* margin: 10px; */
}

input {
    margin: 10px;
    position: center;
    background-color: #d4d4d4;
    color: #34495e;
    font-size: medium;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 15px;
    border-color: whitesmoke;
}

input:focus {
    border-color: #34495e;
    outline: none;
}

button {
    text-align: center;
    background-color: var(--primary-color);
    color: #ecf0f1;
    border: none;
    border-radius: 4px;
    height: 5%;
    padding: 10px 20px !important;
    margin: 8px;
    border-radius: 15px;
    font-size: medium;
}

.imageButton {
    padding: 5px;
}

button.delete {
    background-color: rgb(180, 26, 26) !important;
}

button:active {
    background-color: var(--primary-color-active);
}

button.delete:active {
    background-color: rgb(212, 61, 61) !important;
}


footer {
    padding: 10px;
    z-index: 2;
}

.center {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.column-left {
    float: left;
    width: 20%;
}

.column-middle {
    float: left;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.invisible {
    visibility: hidden;
}

.inline {
    display: inline;
}

#locateButton {
    width: 50%;
}

#dataView {
    height: 64%;
}

#map {
    width: 100%;
    height: 64%;
    position: absolute;
    z-index: 1;
}

.deviceInfo {
    width: 97%;
    padding: 1vw;
    margin-top: 2vw;
    background-color: #dee3e5;
    border-radius: 1vw;
    border-color: #252525;
    display: none;
}

.prompt {
    background-color: #ecf0f1;
    border-style: solid;
    border-color: #34495e;
    border-width: 1px;
    border-radius: 8px;
    position: fixed;
    top: 100px;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    padding: 10px;
}

#imagePrompt {
    background-color: #232323;
    border-style: solid;
    border-color: #232323;
    border-width: 1px;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imageFromDevice {
    width: 600px;
    height: 600px;
    object-fit: contain;
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    margin-bottom: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 10px;
    background-color: #303030;
    z-index: 1;
    /* box-sizing: border-box; */
    border-radius: 10px;
}

.dropdown-content button {
    color: whitesmoke;
    font-weight: bold;
    margin: 4px;
    padding: 1vh;
    width: 100%;
    display: block;
    /* box-sizing: border-box; */
}

.margin-top {
    margin-top: 1vw;
}

.show {
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: whitesmoke;
    border-bottom: 2px dotted whitesmoke;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#f-droid-badge {
    height: 50%;
    width: 50%;
}

/* ADDED */

#batView {
    font-size: 2em;
    margin: 0;
    font-weight: 700;
}

.button-operate {
    padding: 20px 25px !important;
    border-radius: 5px !important;
}
